/*******************************************************************************
INTRO
*******************************************************************************/

/* DECORATION DIV */

.intro-home-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 465px;
    background-color: #fff;
    align-items: center;
    position: relative;
}

/* DIV VIDEO */

.video-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 480px;
    padding: 1em;
    position: absolute;
    top: 10%;
}

.video-home-page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LOGO*/

.logo-home-page {
    width: 415px;
    height: auto;
    margin: 1em 0;
    z-index: 1;
}

/* BUTTON*/

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 5em;
    font-family: 'Beaufort for LOL Bold';
    width: 180px;
    font-size: 1.5rem;
    background-color: #0397AB;
    border: 1px solid #0397AB;
    color: #333;
    text-transform: uppercase;
    z-index: 1;
}


/*******************************************************************************
CONTENU
*******************************************************************************/

.invisible-div-home-page {
    height: 70px;
    background-color: #1f282d;
}


/* DECORATION DIV*/
.content-home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SEPARATION */
.separator-home-page {
    margin: 0 auto;
    width: 960px;
    height: auto;
}

/* ARTICLE */
.article-home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
}

/* SOUS ARTICLE */

.div-img-home-page {
    width: 45%;
    height: auto;
}

.text-article-home-page {
    width: 45%;
}

.img-home-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}