
/************** MAIN **************/

.main_media {
    background-color: #1F282D;
    padding: 1em;
}

.titre_rubrique {
    color: #C89C3D;
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
/*    font-family: ;*/
}

.titre_article {
    color: #C89C3D;
}

.epic_moments {
    text-align: center;
}

.faker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2em;
}

.faker_text {
    text-align: center;
    width: 48%;
}

.faker_photo {
    width: 50%;
}

.separateur {
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.separateur_container {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
}

.petit_separateur {
    width: 100%;
    height: auto;
}

.xpeke {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2em;
}

.xpeke_text {
    text-align: center;
    width: 48%;
}

.xpeke_photo {
    width: 50%;
}

.cine_2020 {
    text-align: center;
}

.cine_container {
    margin-top: 6em;
    margin-bottom: 2em;
}

.cine_container2 {
    margin-top: 3em;
    margin-bottom: 2em;
}

.cine_worlds {
    text-align: center;
}

/******************************* HEADER ***************************/

.slider_container{
    display: flex;
    justify-content: align-items;
    align-items: center;
}

/********* SLIDER **********/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C89C3D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C89C3D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}