.section_top > h1{
  font-size: 3rem;
  text-align: center;
  padding: 1em 0;
  display: inline-block;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section_top > h1::before{
  content: '';
  background: url('../img/decorator-left.png') no-repeat center / cover;
  display: block;
  position: absolute;
  left: -40px;
  bottom: 50%;
  transform: translateY(50%);
  height: 21px;
  width: 35px;
}

.section_top > h1::after {
  content: '';
  background: url('../img/decorator-right.png') no-repeat center / cover;
  display: block;
  position: absolute;
  right: -37%;
  bottom: 50%;
  transform: translateY(50%);
  height: 21px;
  width: 35px;
}

.border {
  width: 100%;
  margin: 2em 0;
}

.border > img {
  width: 100%;
  object-fit: cover;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!! CONTENT */
.content_title {
  display: inline-block;
  position: relative;
  margin-left: 35px;
}

.content_title::before{
  content: '';
  background: url('../img/decorator-left.png') no-repeat center / cover;
  display: block;
  position: absolute;
  left: -40px;
  bottom: 50%;
  transform: translateY(50%);
  height: 21px;
  width: 35px;
}

.content_title::after {
  content: '';
  background: url('../img/decorator-right.png') no-repeat center / cover;
  display: block;
  position: absolute;
  right: -37%;
  bottom: 50%;
  transform: translateY(50%);
  height: 21px;
  width: 35px;
}

/*******************************? ADC */
.ads_subtitle {
  text-align: center;
  margin: 3em auto;
}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.card {
  flex: 1 1 33%;
  background: black;
}

.card_img > img{
  width: 100%;
  object-fit: cover;
}

.card h3, .card p, .card button {
  margin: 0 2rem;
}

.card p {
  height: 100px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card button {
  width: 90%;
  background: #C89C3D;
  color: white;
}
