$main-color-txt: white;
$title-color: #C89C3D;
$background: #1f282d;
$background-dark: #010a13;


//************************* MIXIN

@mixin vieport-mob {
  @media screen and (max-width: 375px) {
    @include;
  }
}

@mixin vieport-tab {
  @media screen and (max-width: 780px) {
    @include;
  }
}


@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


